<html>

<head>
    <link href="https://uicdn.toast.com/editor/latest/toastui-editor.css" rel="stylesheet"/>
</head>
<body>
<form action="/post/write" method="post">
    <label for="title">제목:</label>
    <input id="title" name="title" required type="text"><br><br>

    <!-- 숨은 필드에 내용 저장 -->
    <input id="contentInput" name="content" type="hidden">

    <div id="editor"></div>
    <br>

    <button id="submitBtn" type="submit">등록</button>
</form>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        height: '400px',
        initialEditType: 'markdown',
        previewStyle: 'vertical'
    });

    // submit 직전에 content input에 마크다운 삽입
    document.querySelector('form').addEventListener('submit', function (e) {
        const markdown = editor.getMarkdown();
        console.log(markdown);
        console.log("mark: " + markdown);
        document.querySelector('#contentInput').value = markdown;
    });
</script>

</body>
</html>